.logo-bg{
    background: url('https://images.unsplash.com/photo-1556075798-4825dfaaf498?ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');
    background-size: cover;
    background-position:center;
    height:300px;
}