.navbarMenu{
    display: flex;
    width: 50%;
    /* justify-content: space-between; */
}
.navbar ul{
    margin:0px;
}
.navbar ul li{
    list-style-type:none;
}
.navbar ul li a{
 text-decoration: none;
 display: block;
 font-size: 20px;
 padding: 0 10px;
}